<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <model>
      <elements>
        <element interface="Sitecore.Analytics.DynamicsCrm.Models.ICrmContactData, Sitecore.Analytics.DynamicsCrm">
          <patch:attribute name="implementation">Sitecore.Support.Analytics.DynamicsCrm.Models.CrmContactData,Sitecore.Support.137891</patch:attribute>
        </element>
      </elements>
    </model>
  </sitecore>
</configuration>